* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("../../public/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("../../public/fonts/Inter-Bold.ttf") format("truetype");
}
